.toaster {
  position: absolute;
  top: 25px;
  left: 43%;
  padding: 0;
  width: fit-content;
  transition: opacity 0.5s ease;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 100;
}
.error {
  color: #be504d;
}
.warning {
  color: #1a75ff;
}
.success {
  color: #41af4d;
}
@keyframes dropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes waveOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.toaster.dropDown {
  animation: dropDown 0.5s forwards;
}

.toaster.waveOut {
  animation: waveOut 0.5s forwards;
}
