.card {
  width: fit-content;
  min-width: 20vw;
  margin: 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  height:10rem;
  perspective: 1000px;
}
.flipCardInner{
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Allows child elements to be transformed in 3D space */
  position: relative;
}
.flipCardFront{
justify-content: space-between ;
display: flex;
flex-direction: column;
gap:2rem;
}
.flipCardInnerRotate{
  transform: rotateY(180deg); /* Rotate the card when hovered */
}
.flipCardBack,.flipCardFront{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hides the back of the card when facing away */
}
.flipCardBack{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg)
}
.flipCardBack p:first-child{
  color: #7e7a7aa8;
}
.flipCardBack p:last-child{
  font-size: 1.4rem;
  margin: 0;
}
.copyBtn{
  padding: 1rem;
    border: none;
    border-radius: 50%;
    background-color: #3dad49;
    color: #ffffff;
    margin-top: 0.5rem;
    cursor: pointer;
}
.contents{
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  position: relative;
}
.contents div:last-child{
  text-align: left;
}
.logoHolder{
  font-size: 1.5rem;
  font-weight: bolder;
}
.card .delete,.card .viewPassword,.card .edit {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  color: #ffffff;
  background-color: transparent;
  align-self: center;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto;
}
.card .delete{
  border: 1px solid #be504d;
}
.card .viewPassword{
  border:1px solid #41af4d;
}
.card .edit{
  border: 1px solid #1a75ff;;
}
.delete:hover{
    background-color: #be504d;
}
.viewPassword:hover{
  background-color: #41af4d;
}
.edit:hover{
  background-color: #1a75ff;
}
.logo{
background-position: center;
background-size: contain;
/* background-color: red; */
background-repeat: no-repeat;
padding: 0.5rem;
border-radius: 3rem;
height: 2rem;
outline: 1px solid #41af4d;
width: 2rem;
display: flex;
justify-content: center;
align-items: center;
}
.description{
  text-align: left;
  position: absolute;
  background-color: rgba(131, 130, 131, 0.87);
  border-top: none;
  border-radius: 0 0 12px 12px;
  top: 100%;
  width: 102%;
  left: -2%;
  padding: 0.5rem 0.3rem;
  filter: drop-shadow(-1px 3px 2px #444444);
}
.options{
  display: flex;
}
.fav{
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
  margin: 0.5rem;
}
