.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  background-color: transparent;
  margin: 0;
  color: #41af4d;
  position: sticky;
  top: 0;
  width: 94vw;
  left: 0;
  align-items: center;
  z-index: 15;
  height: 4vh;
}
.logoContainer {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  background-blend-mode: hue;
  height: 2.5rem;
}

.navbarOptions {
  display: flex;
  width: 45%;
  justify-content: flex-end;
  align-items: center;
}
.startOptions {
  display: flex;
  justify-content: flex-end;
  min-width: 70%;
  gap: 0.5rem;
}
.startOptions a {
  text-decoration: none;
}
.authButtons {
  border-radius: 10rem;
  padding: 0.5rem 1rem;
}
.login {
  color: #ffffff;
  border: 2px solid transparent;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease;
}
.login:hover {
  border: 2px solid #41af4d;
  color: #41af4d;
}
.signup {
  color: #ffffff;
  background-color: #41af4d;
  text-align: center;
  border: 2px solid #41af4d;
}
.signup span {
  margin-right: 0.4rem;
}
.menu {
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(4px) saturate(193%);
  -webkit-backdrop-filter: blur(4px) saturate(193%);
  background-color: rgba(23, 23, 25, 0.62);
  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 97.5vw;
  align-items: flex-start;
  padding: 0.5rem;
  transition: opacity 0.5s ease-in-out;
}
.menu span {
  text-decoration: none;
  padding: 1rem;
  color: #ffffff;
  width: 90%;
  border-radius: 0.5rem;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.menu span:hover {
  color: #41af4d;
  outline: 2px solid rgba(255, 255, 255, 0.125);
}
.menu.dropDown {
  animation: dropDown 0.5s forwards;
}
.menu.waveOut {
  animation: waveOut 0.5s forwards;
}
@keyframes dropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    display: flex;
  }
}
@keyframes waveOut {
  from {
    transform: translateY(0);
    opacity: 1;
    display: flex;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}
.profile{
  color: #FFFFFF;
  background: #3DAD49;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  outline: 2px solid;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.profile:hover{
  transform: scale(1.2);
}
/* Media Queries */
@media (min-width: 320px) {
  .navbarOptions {
    display: none;
  }
  .navbar {
    padding: 0.8rem 1rem;
  }
}
@media (min-width: 768px) {
  .navbarOptions {
    display: flex;
    width: 30%;
  }
  .showMore {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navbarOptions {
    width: 25%;
  }
  .navbar {
    width: 94vw;
    padding: 1rem 2rem;
  }
}
@media (min-width: 1200px) {
  .navbar{
    width: 96vw;
  }
  .navbarOptions {
    width: 22%;
  }
}
@media (min-width: 1440px) {
  .navbarOptions {
    width: 15%;
  }
}
